.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-element {
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
  color: blue;
  font-weight: 700;
}
.pagination-element:last-child {
  border-radius: 0% 20% 20% 0;
}
.pagination-element:first-child {
  border-radius: 20% 0% 0% 20%;
}

.pagination-element:hover {
  background-color: grey;
}
.active:hover {
  background-color: grey;
}

.active {
  padding: 10px;
  border: 2px solid blue;
  cursor: pointer;
}
